@chrset = "utf-8";
/*======================================
全般的なスタイル
======================================*/
* {
   margin:0; padding:0;					/*全要素のマージン・パディングをリセット*/
}

body{
   padding:0px 5px;					/*マージン・パディング*/
   font-size:95%;					/*フォントサイズを95%にする*/
   font-family:"ヒラギノ丸ゴ";		/*フォントの種類をゴシック系にする*/
   line-height:1.5;					/*行の高さを1.5倍にする*/
   color:#333333;				/*文字色*/
}

div#pagebody{
   width:1200px; margin:0px 115px auto;				/*内容全体をセンタリング*/
}
/*======================================
ヘッダー
======================================*/
div#header{
    width:1200px; height:70px;
}
/*======================================
(左カラム)
======================================*/
div#menu{
   width:600px;	height:70px;			/*幅の指定*/
   float:left;					/*サブメニューのカラムを左寄せにする*/
}

div#menu li{
   padding:15px 35px 15px 45px;			/*上パディング（内側余白）*/
   font-size:32px;				/*フォントのサイズ*/
   list-style-type:none;			/*リストマーカー無しにする*/
   display:inline;				/*リスト項目をインライン(横並び)表示にする*/
   float:left;					/*リスト項目を横に並べる*/
   font-family:"Arial Rounded MT Bold";		/*フォントの種類をゴシック系にする*/
}

div#menu li a{
   width:100px; height:80px;			/*幅と高さ*/
   text-align:center;				/*テキストをセンター揃えにする*/
   text-decoration:none;			/*リンク部分の下線を無しにする*/
   color:#333333;				/*文字色*/
   letter-spacing: 6px;
}
div#menu ul li :first-child a{
   padding:10px 0px 0px 0px;
   font-size:48px;				/*フォントのサイズ*/
}

/*======================================
(右カラム)
======================================*/
div#info{
   width:600px; height:70px;			/*幅の指定*/
   float:left;					/*サブメニューのカラムを左寄せにする*/
}

div#info li{
   padding:15px 45px 15px 35px;			/*上パディング（内側余白）*/
   font-size:32px;				/*フォントのサイズ*/
   list-style-type:none;			/*リストマーカー無しにする*/
   display:inline;				/*リスト項目をインライン(横並び)表示にする*/
   float:right;					/*リスト項目を横に並べる*/
}

div#info li a{
   width:100px; height:80px;			/*幅と高さ*/
   text-align:center;				/*テキストを右揃えにする*/
   text-decoration:none;			/*リンク部分の下線を無しにする*/
   color:#333333;				/*文字色*/
}
div#info ul li :first-child a{
   padding:10px 0px 0px 0px;
   font-size:48px;				/*フォントのサイズ*/
}
/*============================================
メイン
============================================*/
div#main{
   margin:0px 5px 0px;
   padding:10px 100px;				/*パディング*/
   background-color:#fdb79f;			/*内容全体の背景色*/
   border-radius:20px;				/*角丸にする*/
   -moz-border-radius:20px; -webkit-border-radius:20px; -o-border-radius:20pz; -ms-border-radius:20px;				/*角丸にする(ベンダープレフィックス付きの指定)*/
}


/*============================================
画像
============================================*/
.logo {
   width:960px; height:500px;			/*トップページのヘッダ画像の表示サイズを指定*/
}
.home-icons{
  color:#333333;
  font-size:48px;				/*フォントのサイズ*/
}

.home-icons home{
  padding-top: 5px;
  color:#333333;
  font-size:48px;				/*フォントのサイズ*/
}
/*============================================
フッタ
============================================*/
div#footer {
   clear:both;					/*回り込みを解除する*/
   height:40px;					/*高さの指定*/
   padding:10px 0px 0px 0px;			/*パディング/
   font-size:x-small;				/*フォントサイズを小さくする*/
   text-align:center;				/*センタリング*/
   color:#333333;				/*文字色*/
}
