@chrset = "utf-8";
/*======================================
全般的なスタイル
======================================*/
h2{
   width:1000px; height:30px;			/*幅と高さ*/
   padding:0px 0px 0px 50px;			/*パディング*/
   font-size:16px;				/*フォントサイズ*/
   color:#ffffff;				/*文字色*/
}

p{
   width:1000px; height:10px;			/*幅と高さ*/
   padding:0px 0px 0px 50px;			/*パディング*/
   font-size:16px;				/*フォントサイズ*/
   color:#333333;				/*文字色*/
}
