@chrset = "utf-8";
/*============================================
メイン
============================================*/
h2{
  color:#ffffff;				/*文字色を濃いめのグレーにする*/
  text-align:center;				/*テキストをセンター揃えにする*/
}
h3{
  font-size:8px;				/*フォントのサイズ*/
  color:#ffffff;				/*文字色*/
}
div#infomation{
  width:1000px; height:50px;
  margin:0px 0px 50px 0px;
}
/*======================================
(左カラム)
======================================*/
div#left{
   width:300px;	height:20px;			/*幅の指定*/
   list-style-type:none;			/*リストマーカー無しにする*/
   display:inline;				/*リスト項目をインライン(横並び)表示にする*/
   float:left;					/*サブメニューのカラムを左寄せにする*/
   padding:10px 100px 10px 0px;			/*上パディング（内側余白）*/
}
h3{
  font-size:8px;				/*フォントのサイズ*/
  color:#ffffff;				/*文字色*/
}
/*======================================
(右カラム)
======================================*/
div#right{
   width:700px; height:20px;			/*幅の指定*/
   list-style-type:none;			/*リストマーカー無しにする*/
   display:inline;				/*リスト項目をインライン(横並び)表示にする*/
   float:left;					/*サブメニューのカラムを左寄せにする*/
   padding:10px 0px 10px 100px;			/*上パディング（内側余白）*/
}
h3{
  font-size:8px;				/*フォントのサイズ*/
  color:#ffffff;				/*文字色*/
}
